<div class="post">
  <div class="post-title">
    <span class="post-title-text">
      <%= @post.title %>
    </span>
    <% if signed_in? %>
      <span class="post-title-edit-remove">
        <%= link_to 'Edit', edit_category_post_path(@post.category, @post) %>
        |
        <%= link_to "Delete", @post ,:method => :delete , :confirm => "Are you sure?" %>
      </span>
    <% end %>
  </div>
  <div class="post-content">
    <%= @post.content.html_safe %>
  </div>
  <div class="date">
    <%= @post.category.name %> | <%= 'posted ' + time_ago_in_words(@post.created_at) + ' ago'%>
  </div>
  <br/>
  <%= link_to "Back", category_path(@category), :id => 'back_button'%>
</div>


<%= render 'posts/comments' %>
