<% if signed_in? %>
  <span class="post-title-edit-remove">
    <p>Posted by: <%= @post.user.name %></p>
    <%= link_to 'Edit', edit_category_post_path(@post.category, @post) %>
    <br/>
    <br/>
    <%= button_to "Delete", @post ,:method => :delete , :confirm => "Are you sure?" %>
  </span>
<% end %>
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<p><%= 'posted ' + time_ago_in_words(@post.created_at) + ' ago'%> </p>
<p><%= link_to "Back", category_path(@category), :id => 'back_button'%>
<% if signed_in? %>
<% end %>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'railsapp'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        

<%= render 'posts/comments' %>
