<div id="categories">
  <div class="category" onclick="window.location = '<%= url_for root_path %>'">
    Home
  </div>
  <% get_categories.each do |c| %>
    <div class="category" onclick="window.location = '<%= url_for category_path(c) %>'" >
     <%= c.name %>
	 </div>
  <% end %>

  <% if signed_in? %>
    <div class="welcome">
      Welcome <%= current_user.name %>
    </div>
        
    <div class="category" onclick="window.location = '<%= url_for current_user %>'">
      Profile
    </div>
    <div class="category" onclick="window.location = '<%=  %>'">
      Settings
    </div>
    <div class="category" onclick="window.location = 
                                   '<%= url_for new_category_post_path(get_categories[0]) %>'">
      New Post
    </div>
    <div class="category" onclick="window.location = '<%= url_for signout_path :method => :destroy  %>'">
      Sign out
    </div>
  <% else %>
    <div class="user_signin" onclick="window.location = '<%= url_for signin_path  %>'">
      Sign In
    </div>
  <% end %>
</div>
