<% @posts.each do |p|  %>
  <p id="notice"></p>
    <p>
      <span class="post-title-text">
        <%= p.title%>
      </span>
    </p>
    <p>
      <div class="post-content"><%= p.content%></div>
    </p>
      <div class="date">
		  Posted in <%= @category.name %> | <%= time_ago_in_words(p.created_at) + ' ago'%>
      </div>
    <%= link_to 'View', category_post_path(@category, p), :id => 'back_button' %>  
<% end %>
<br/>  
<%= will_paginate @posts %>
