<h1><%= @category.name %></h1>
<% @posts.each do |p|  %>
      <p id="notice"></p>

      <p>
            <span class="post-title-text"><%= p.title%></span>
            <span class="post-title-edit-remove">
                  <a href="/posts/13/edit">Edit</a>
                  | <a href="/posts/13" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
            </span>
      </p>

      <p>
            <div class="post-content"><%= p.content%></div>
      </p>
      <p><%= 'posted ' + time_ago_in_words(p.created_at) + ' ago'%> </p>
      <%= link_to 'View Comments', category_post_path(@category, p), :id => 'back_button' %>
      
<br/>
  
<% end %>