<h1>
<%= @category.name %>
</h1>
<br/>
<% @posts.each do |p|  %>
  <h2>
    <%= p.title%>
  </h2>
  <%= p.content%><br/><br/>
  <%= link_to 'View', category_post_path(@category) %>
<% end %>
<br/>
<br/>
<% if signed_in? %>
  <%= link_to 'New Post', new_category_post_path(@category) %>
<% end %>
