<h1><%= @category.name %></h1>
<% @posts.each do |p|  %>
      <p id="notice"></p>

      <p>
            <span class="post-title-text"><%= p.title%></span>
            <span class="post-title-edit-remove">
                  <a href="/posts/13/edit">Edit</a>
                  | <a href="/posts/13" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
            </span>
      </p>

      <p>
            <div class="post-content"><%= p.content%></div>
      </p>
      <br/>
      <a href="/posts" id="back_button">Back</a>
      <br/>
      <%= link_to 'View', category_post_path(@category, p) %>
DISQUS

<br/>

  <h2>
    
  </h2>
  <br/><br/>
  
<% end %>
<% if signed_in? %>
  <%= link_to 'New Post', new_category_post_path(@category) %>
<% end %>
