<!DOCTYPE html>
<html>
<head>
  <title>Blogapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= link_to image_tag('logo.png', :border => 0), root_path %>  
  </div>
  <div id="search">
    <div id="text-box-search">	
	   <form accept-charset="UTF-8" action="/search" method="get">
		  <input id="query" name="query" type="text" />
		  <input class="search-button" name="commit" type="submit" value="Search" />
		  <span class="clear-button" 
				  onclick="var input = document.getElementById('query'); 
              input.value = ''; input.focus(); ">
        </span>
		</form>
	 </div>
  </div>
  <div id="posts">
    <div id="body-left">
      <%= yield %>
    </div>
    <div id="body-right">
      <%= render 'categories/categories_menu'%>
    </div>
  </div>
  <div class="container">
    
  </div>
</body>
</html>
